/* Global Styles */

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0066ff;
}

h2{
    font-size: 8px 0;
    font-style: italic;
}

nav{
    padding: 10px 0;
    text-align: center;
    border-radius: 35px;
    background-color: grey; 
    list-style-type: none;
    margin: 0;
}

p{
    border-style: hidden;
    text-align: justify
}

footer{
    text-align: center;
}

A:hover{
 color: whitesmoke;

}

footer img{
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    opacity: 73%;
    margin: auto 0px;
}
